*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background-color: pink;
    transform: scale(1);
    animation-name: uffff;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate ;
    width: 200px;
    height: 200px;
}
@keyframes uffff{
    0%{
        transform: translate(0);
     }
     25%{
         transform: translateX(500px);
         background-color:green;
     }
     50%{
         background-color: blue;
         transform: translate(500px, 500px);
     }
     75%{
        transform: translate(0,500px);
        background-color: darkturquoise;
     }
     100%{
         transform: translate(0);
         background-color: mediumvioletred;
     }
}